.btn-prima{
    height: 35px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 7px;
    width: auto;
    position: relative;
    padding-inline: 10px;
    border-radius: 15px;
    margin-bottom: 2px;
    
        

    
}
.btn-prima:hover{
    color: var(--primaryColorBorder);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.btn-danger{
    height: 35px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 7px;
    width: auto;
    position: relative;
    padding-inline: 10px;
    border-radius: 15px;
    margin-bottom: 2px;
    color: var(--dangerActionsRed);
    border: solid 1px var(--dangerActionsRed);
        
}
.btn-danger:hover{
    color: #fff;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
        background-color: var(--dangerActionsRed);

}
.selected{
    color: var(--primaryColorBorder);
    color: white;
    background-color: black;
    
}



/* Subrayado deslizándose hacia abajo */




.btn-second{
    height: 36px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 7px;
    width: auto;
    position: relative;
    font-weight: 700;
    color: white;
    background-color: black;
    padding-inline-end: 10px;
    border-radius: 15px;
    flex-direction: row;
   font-size: 0.5rem;
    
    
    
}
.btn-second:hover{
    color: var(--primaryColorBorder);
    background-color: white;
    

}

.btn-orange{
    height: 30px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 7px;
    width: auto;
    position: relative;
    padding-inline: 10px;
    border-radius: 11px;
    margin-bottom: 2px;
        border: solid 1px  #EF6438;

}
.btn-orange:hover{
    color: var(--PrimaryTextColor);
    background-color: rgba(241, 92, 42, 0.496);
    border: solid 2px  #EF6438;
    box-shadow: 0 2px 0px #33333370;
   transform: scale(1.05);
   transition: 0.3s;
    
}
.btn-gree{
    height: 30px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 7px;
    width: auto;
    position: relative;
    padding-inline: 10px;
    border-radius: 11px;
    margin-bottom: 2px;
        border: solid 1px  #247881;

}
.btn-gree:hover{
    color: var(--PrimaryTextColor);
    background-color: #2478817a;
    border: solid 2px  #247881;
    box-shadow: 0 2px 0px #33333370;
   transform: scale(1.05);
   transition: 0.3s;
}
.btn-yellow{
    height: 30px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 7px;
    width: auto;
    position: relative;
    padding-inline: 10px;
    border-radius: 11px;
    margin-bottom: 2px;
    transition: 0.3s;
       border: solid 1px  #f9a825;

}
.btn-yellow:hover{
    color: var(--PrimaryTextColor);
   background-color: #f9a8256d; 
   border: solid 2px  #f9a825;
   box-shadow: 0 2px 0px #33333370;
   transform: scale(1.05);
   transition: 0.3s;
}

.btn-edit{
    height: 30px;
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 7px;
    width: auto;
    position: relative;
    padding-inline: 10px;
    border-radius: 11px;
    margin-bottom: 2px;
    transition: 0.3s;
       border: solid 1px  #f925256d;
           color: #ff3c3c;


}
.btn-edit:hover{
    color: #ff0000;
   background-color: #f925256d; 
   border: solid 2px  #f92525;
   box-shadow: 0 2px 0px #33333370;
   transform: scale(1.05);
   transition: 0.3s;
}