@import "tailwindcss";

:root {
     /*Unchange colors*/
    --color-alwaysBlack: #000000;
    --color-alwaysWhite: #ffffff;
    --border-awalysWhite-1px: solid 1px #fff;

 /*==========PRIMARY==========*/    
    /*Primary Color*/
    --greenMain: #29727b;

    --green: #38bccb;/*Hover*/
    --orange: #f6673c;
    --yellow: #f0a938;
    --red: #ff4f4f;
    --grayLight: #a7a7a7;

    /*Transparent Primary colors*/
    --green-trasparent: #2478818d;
    --orange-trasparent: #ef63388b;
    --yellow-trasparent: #f9a82595;
    --red-trasparent: #ff4f4f88;

    /*Borders Primary colors*/
    --boder-green: solid 1px #247881;
    --boder-orange: solid 1px #EF6438;
    --boder-yellow: solid 1px #f9a825;
    --boder-red: solid 1px #f04747;


    /*Hover Primary colors*/
    --hoverColor-green: #1fcde0;
    --hoverColor-orange: #d84619;
    --hoverColor-yellow: #ce8b1e;
    --hoverColor-red: #cc1a1a;
        
    --radio09: 0.9rem;
    --textColor: #fff;
    --textColorInverse: #000000;

    --placeholderColor: #cecece8f;
    --bg-color-component: #1a1a1a;
    --bg-color-componentSecondary: #8d8d8d;

    --color-input: #252525;
    --inputArrow: url('./assets/iconsV2/arrowDown-White.svg')
}

@media (prefers-color-scheme: light) {
  :root{
    /*Unchange colors*/
    --color-alwaysBlack: #000000;
    --color-alwaysWhite: #ffffff;

    --text-awaysWhite: #fff;
    --border-awalysWhite-1px: solid 1px #fff;

 /*==========PRIMARY==========*/    
    /*Primary Color*/
    --green: #36b2c0;
    --orange: #f6673c;
    --yellow: #f0a938;
    --red: #ff4f4f;

    /*Transparent Primary colors*/
    --green-trasparent: #2478818d;
    --orange-trasparent: #ef63388b;
    --yellow-trasparent: #f9a82595;
    --red-trasparent: #ff4f4f88;

    /*Borders Primary colors*/
    --boder-green: solid 1px #247881;
    --boder-orange: solid 1px #EF6438;
    --boder-yellow: solid 1px #f9a825;
    --boder-red: solid 1px #f04747;

    /*Hover Primary colors*/
    --hoverColor-green: #1fcde0;
    --hoverColor-orange: #d84619;
    --hoverColor-yellow: #ce8b1e;
    --hoverColor-red: #cc1a1a;

    --radio09: 0.9rem;
    --textColor: #000000;
        --textColorInverse: #ffffff;

    --placeholderColor: #3236398f;

    --bg-color-component: #ffffff;
    --bg-color-componentSecondary: #2b2b2b;
    --color-input: #fff;
    --inputArrow: url('./assets/iconsV2/arrowDown.svg')
  }
}

@layer components{
    .btn-green{
        background-color: var(--green);
        height: 40px;
        border-radius: var(--radio09);
        color: var(--text-awaysWhite);
        font-weight: 400;
        padding-inline: 20px;
        font-size: var(--radio09);
        border: solid 1px #82828277;
        transition: box-shadow 0.3s,  width 0.3s ease;}
    .btn-green:hover{
        background-color: var(--hoverColor-green);
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 2px 4px #0000007a;
        border: var(--border-awalysWhite-1px);}

    .btn-yellow{
        background-color: var(--yellow);
        height: 40px;
        border-radius: var(--radio09);
        color: var(--text-awaysWhite);
        font-weight: 400;
        padding-inline: 20px;
        font-size: var(--radio09);
        border: solid 1px #82828277;
        transition: box-shadow 0.3s,  width 0.3s ease;}
    .btn-yellow:hover{
        background-color: var(--hoverColor-yellow);
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 2px 4px #0000007a;
        border: var(--border-awalysWhite-1px);}

    .btn-orange{
        background-color: var(--orange);
        height: 40px;
        border-radius: var(--radio09);
        color: var(--text-awaysWhite);
        font-weight: 400;
        padding-inline: 20px;
        font-size: var(--radio09);
        border: solid 1px #82828277;
        transition: box-shadow 0.3s,  width 0.3s ease;}      
    .btn-orange:hover{
        background-color: var(--hoverColor-orange);
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 2px 4px #0000007a;
        border: var(--border-awalysWhite-1px);}

    .btn-danger{
        background-color: var(--red-trasparent);
        height: 40px;
        border-radius: 0.9rem;
        color: var(--color-alwaysWhite);
        font-weight: 500;
        padding-inline: 20px;
        font-size: 0.9rem;
        border: solid 1px var(--red);
        box-shadow: 0 0 2px #00000096;
        transition: box-shadow 0.3s,  width 0.3s ease;}
    .btn-danger:hover{
        background-color: var(--red);
        color: var(--color-alwaysWhite);
        cursor: pointer;
        transform: scale(1.03);
        box-shadow: 0 0 10px var(--color-alwaysWhite);
        border: var(--border-awalysWhite-1px);}

    .btn-disable{
        background-color: var(--grayLight);
        height: 40px;
        border-radius: var(--radio09);
        color: var(--text-awaysWhite);
        font-weight: 400;
        padding-inline: 20px;
        font-size: var(--radio09);
        border: solid 1px #82828277;
        transition: box-shadow 0.3s,  width 0.3s ease;}
    .btn-disable:hover{
        cursor: not-allowed;}

    .inputBase{
        padding: 8px;
        padding-left: 10px;
        color: #000000;
        font-size: 1.5rem;
        width: 100%;
        font-weight: bold;
        color: var(--textColor);}
    .inputBase::placeholder{
        color: var(--placeholderColor);}
    .inputBase:focus{
        outline: none;}
    .inputBase:focus::placeholder{
        outline: none;
        color: #4788b98f;           }
 
    .selectBase {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        -webkit-appearance: none; /* For WebKit browsers like Chrome and Safari */
        -moz-appearance: none;    /* For Mozilla Firefox */
        appearance: none;         /* Standard property */
        /* ... (appearance: none as above) ... */
        appearance: none;  
        background-image: var(--inputArrow); /* Or .png, .jpg */
        background-repeat: no-repeat;
        background-position: right 10px center; /* Adjust position as needed */
        background-size: 16px 16px; /* Adjust size as needed */
        padding-right: 30px; /* Add padding to prevent text overlap with the arrow */
    }

    .selectBase:focus{
        outline: none;}
    .selectBase:hover{
        background-image: url('./assets/iconsV2/arrowDown-hover.svg'); /* Or .png, .jpg */}

    .textAreaBase{
        height: auto;
        max-height: max-content;
        width: 100%;
        padding-inline: 10px;
        margin-top: 0;}
    .textAreaBase:focus{
        outline: none;}

    .no-scrollbar::-webkit-scrollbar {
        display: none;}
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox n*/}

    /*Helpers*/
    .textColor{
        color: var(--textColor);}
    .text-black{
        color: var(--textColor);}
    
    .bg-hover-green:hover{
        background-color: var(--green-trasparent);}
    .bg-principal{
        background-color: var(--bg-color-component);}
   
    
        .divTitle{
    position: sticky;
    top: 0;
    background-color: var(--bg-color-component);
    z-index: 500;
  }
       .divFooter{
    position: sticky;
    bottom: 0;
    background-color: var(--bg-color-component);
    z-index: 500;
  }
   .shadowBottom{
    box-shadow: 0 12px 10px var(--bg-color-component);
    
  }
  .shadowTop{
    box-shadow: 0 -10px 8px var(--bg-color-component);
    
  }
 
    
}
